.game{
    overflow: hidden;
}
.tic-tac-board{
    float: left;
    margin-right: 20px;
}
.info{
    float: left;
}
.status{
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}
.button:hover{
    transition: opacity 0.1s linear;
    opacity: 0.8;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    width: 600px;
    height: 200px;
}
