<div class="game">
    <div class="tic-tac-board">
        <ul class="tic-tac-row" *ngFor="let row of board.rows">
            <tic-tac-cell *ngFor="let cell of row.cells" (onCellClicked)="handleOnCellClicked($event)" [newGameAvailable]="newGameAvailable" [cell]="cell"></tic-tac-cell>
        </ul>
    </div>
    <div class="info">
        <div class="status" *ngIf="newGameAvailable">{{status}}</div>
        <button md-raised-button color="primary" class="button" (click)="newGameButtonClicked()" *ngIf="newGameAvailable">New game</button>
    </div>
</div>
