li{
    float: left;
    border: 1px solid #000;
    width: 33%;
    height: 100%;
    box-sizing: border-box;
    display: table;
    transition: background 0.1s linear;
}

li:hover{
    background: #61c3ff;
}

li.filled,
li.filled:hover{
    background: #3c9eff;
}

span{
    font-size: 80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}